<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.quizapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".api.AppController"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="m"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.EndContestActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.StartContestActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".utils.DynamicContestPage"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.NotificationActivity"
            android:parentActivityName=".activity.MainActivity"></activity>
        <activity android:name=".activity.ScrollUser"></activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".activity.InterestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>


        <activity android:name=".activity.EndContestActivity"/>

        <activity android:name=".activity.StartContestActivity"/>

        <activity android:name=".utils.DynamicContestPage"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.CreatePostActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ContestPage"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.ContestLeaderboardActivity"
            android:parentActivityName=".activity.StartContestActivity"></activity>
        <activity
            android:name=".activity.LeaderBoard"
            android:label="Leader Board"
            android:parentActivityName=".activity.MainActivity" />
        <service android:name=".service.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>